.about-me{
    height:500px;
    display:flex;
    margin-left:auto;
    margin-right:20px;
    background:var(--color-primary);
    width:90%;
}

.about-text {
    margin-left:auto;
    margin-right:20px;
    margin-top:60px;
    width: 50rem;
}

.about-text > h1 {
    font-size:10rem;
    color:var(--color-white);
}

.about-text > p {
    color:var(--color-white);
    margin-right:20px;
}