header {
    display:flex;
    justify-content: space-between;
    padding:0 5%;
}

.head-nav {
    position:fixed;
    top:0;
    padding-top:40px;
    height:100px;
    background: var(--color-white);
    width:100%;
    box-shadow: 0px 1px 5px grey ;
}

.nav-links{
    display:flex;
    justify-content: center;
}

li{
    display:flex;
    justify-content: space-evenly;
}

.inactive {
    color: var(--color-primary);
    text-decoration: none;
    padding:5px 15px;
    font-weight: 500;
    
}

.active {
    background-color: var(--color-primary);
    color:var(--color-white);
    text-decoration: none;
    padding:5px 15px;
    font-weight: 500;
    
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right li {
    padding-left:40px;
     color: var(--color-primary)
}

span {
    font-weight: 800;
    white-space: nowrap;
}

.cv-icon {
    padding-left:10px;
}

.title-name{
    color:var(--color-light)
}




