header {
    display:flex;
    justify-content: space-between;
    padding:1% 5%;
}

.nav-links {
    display:flex;
}

.nav-links a {
    color:var(--color-primary);
    text-decoration: none;
    padding-left:20px;
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right li {
    padding-left:40px;
     color: var(--color-primary)
}

span {
    font-weight: 800;
}





